@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.message-container {
  @include flex-column;
  height: 100%;
  max-width: $chat-max-width;
  margin: 0 auto;
  background: $color-bg-page;
  box-shadow: $shadow-container;
}
